<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Lista Tareas</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
</head>

<body>
    <div id="app">
        <h1>Lista de tareas</h1>

        <input type="text" v-model="nuevatarea">
        <button v-on:click="agregar">Añade tarea</button>
        <ol v-for="tarea in listatareas">
            <li>{{ tarea }}</li>
        </ol>
        <h3>Tienes {{listatareas.length}} tareas pendientes</h3>
        </div>
    
</body>

</html>